
header
{
    background-color: #3648A2;
    display: flex;
    justify-content: space-between;
    min-height: 250px;
    margin-top: 4%;
    margin-left: 15%;
    margin-right: 15%; 
    align-items: center;
}
body
{
    font-family: 'Inter:400', sans-serif;
    background-color: #BBBDC7;
}
#foto_perfil 
{ 
    border-radius: 100%;
    width: 220px;
    height: 220px;
    margin: 1%; 
    float: right;
}
#datos_presentacion
{
    margin-left: 20%;
    font-size: 2vw;
}
#foto
{
    display: flex;
    margin-right: 7%;
}
nav 
{
    display: flex;
    background-color: #5C69AF;
    min-height: 50px;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;

}
nav a
{
    padding: 3%;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 0%;
}
nav a:hover
{
    color: white;
}

.informacion_cv
{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #6A77B9;

}
.informacion_cv h3
{
   margin-top: 0%;
   margin-bottom: 0%;
   margin-left: 5%;
   padding-top: 3%;
   padding-bottom: 3%;
}
.datos_inf_cv
{
    margin-left: 12%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 2%;

}
footer
{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #6A77B9;
}
footer h3
{
   margin-top: 0%;
   margin-bottom: 0%;
   margin-left: 5%;
   padding-top: 3%;
   padding-bottom: 3%;
}
footer button
{
    padding: 2%;
    margin-left: 12%;
}

@media (max-width:1100px)
{
    header
   {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav
   {
        flex-direction: column;
    }
    #foto
   {
        display: flex;
        margin-right: 0%;
    }
    #datos_presentacion
   {
    margin-left: 0%;
   }    
  
   
}  